#page_header {
    position: relative;
    height: 42px;
    margin: 0;
    font-size: 12.5px;
	background-color:#4a76a8;
}
body {
	margin:0;
	background-color:#edeef0;
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}
#page_header > img {
	float:left;
	margin-left:150px;
}
#page_header > input {
	float:left;
	margin-left:126px;
	margin-top:7px;
	outline: none;
	border-radius: 20px;
	width:230px;
	height: 28px;
	background: #224b7a;
	border-width:0px;
	background-image:url(../IMG/поиск.png);
	background-repeat: no-repeat; /*Убираем повтор изображения*/   
	background-size: 20px 20px;
	background-position-x: 5px;
	background-position-y: 4px;
	padding-left:30px;
}
#page_header > input:focus {
	background-color:#ffffff;
}
::placeholder {
	color:#81adbb;
	font-size: 13px;
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}
.midle {
	width: 960px;
	margin:0 auto;
	padding-bottom:105px;
}
.wite_log {
	float:right;
	width: 320px;
	margin-top: 32px;
	margin-right: 29px;
}
.login {
	background-color:#ffffff;
	padding:25px;	
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	width: 100%;
	box-sizing: border-box;
}

.reg {
	border: none;
	width: 100%;
	height: 28px;
	background-color: #ffffff;
	padding: 25px 25px 380px 25px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	margin-top:30px;
	box-sizing: border-box;
}
.menuLoginp {
	display: block;
	margin:0px 0px 15px;
	padding:6px 12px 8px;
	width:100%;
	border-radius:5px;
	border-style:solid;
	border-width:1px;
	border-color:#d3d9de;
	height: 35px;
}
.menuLogbot {
	font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
	padding: 7px 16px 8px;
	width: 100px;
	border: 0;
	background-color: #5181b8;
    color: #fff;
}
.noPassword {
	color: #2a5885;
    text-decoration: none;
    cursor: pointer;
	font-size: 13px;
}
form {
	margin:0px;
}
.menuLogbot:hover {
	background-color:#5181b8e8;
}
.noPassword:hover {
	text-decoration:underline;
}
.images{
	float:left;
	margin-top:158px;
}
#kartinka_ios {
	margin-left:-35px;
	z-index:3;
	position: relative;
}
#kartinka_wp {
	margin-left:-35px;
	z-index:2;
	position: relative;
}
#kartinka_android {
	z-index:1;
	position: relative;
}

.login2 {
	margin-top:30px;
	width: 400px;
	background-color:#edeef0;
	padding:25px;	
	box-shadow: 0 1px 0 0 #edeef0, 0 0 0 1px #edeef0;
}

.menuLogbot2 {
	margin:0px;
	font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
	padding: 7px 30px 8px;
	width: 100px;
	border: 0;
	background-color: #5fb053;
    color: #fff;
    margin-right: 15px;
}

.menuLoginp::placeholder {
	color:#828282;
	font-size:13px;
	letter-spacing: 0.3px;
}
.header_reg {
	font-weight: 400;
	margin: -4px 0 0;
    font-size: 20px;
    text-align: center;
}
.header2_reg {
	padding: 5px 0 21px;
    text-align: center;
    color: #656565;
    font-size: 12.5px;
}
input.big_text {
	height: 35px;
    border-radius: 5px;
	padding: 6px 12px 8px;
	width: 100%;
	display: block;
	margin: 0px 0px 15px;
	border-color: #d3d9de;
	border-width: 1px;
	border-style: solid;
}
